In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [2]:
url = "https://www.iplt20.com/auction/2022"

In [3]:
webpage = requests.get(url)
webpage

In [4]:
soup = BeautifulSoup(webpage.text,"lxml")
# print(soup)

In [5]:
table = soup.find("table",class_="ih-td-tab auction-tbl")
title = table.find_all("th")
print(title)

[<th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>, <th class="skip-filter" style="width:25%;">FUNDS REMAINING</th>, <th class="skip-filter" style="width:25%;">OVERSEAS PLAYERS </th>, <th class="skip-filter" style="width:25%;">TOTAL PLAYERS</th>]

In [6]:
header = []

In [7]:
for i in title:
  name=i.text
  header.append(name)
print(header)

['TEAM', 'FUNDS REMAINING', 'OVERSEAS PLAYERS ', 'TOTAL PLAYERS']

In [8]:
df = pd.DataFrame(columns=header)
print(len(df))
rows = table.find_all("tr")
for i in rows[1:]:
  first_td = i.find_all("td")[0].find("div",class_="ih-pt-ic").text.strip()
  print(first_td)
  data = i.find_all("td")[1:]
  print(data)
  row = [tr.text for tr in data]
  print(row)
  row.insert(0,first_td)
  l = len(df)
  print(l)
  df.loc[l] = row
  print(df)
print(df)

0
Chennai Super Kings
[<td>₹2,95,00,000</td>, <td>8</td>, <td>25</td>]
['₹2,95,00,000', '8', '25']
0
                  TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0  Chennai Super Kings    ₹2,95,00,000                 8            25
Delhi Capitals
[<td>₹10,00,000</td>, <td>7</td>, <td>24</td>]
['₹10,00,000', '7', '24']
1
                  TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0  Chennai Super Kings    ₹2,95,00,000                 8            25
1       Delhi Capitals      ₹10,00,000                 7            24
Gujarat Titans
[<td>₹15,00,000</td>, <td>8</td>, <td>23</td>]
['₹15,00,000', '8', '23']
2
                  TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0  Chennai Super Kings    ₹2,95,00,000                 8            25
1       Delhi Capitals      ₹10,00,000                 7            24
2       Gujarat Titans      ₹15,00,000                 8            23
Kolkata Knight Riders
[<td>₹45,00,000</td>, <td>8</td>, <td>25</td>]
['₹45,00,000', '8', '25']
3
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹2,95,00,000                 8            25
1         Delhi Capitals      ₹10,00,000                 7            24
2         Gujarat Titans      ₹15,00,000                 8            23
3  Kolkata Knight Riders      ₹45,00,000                 8            25
Lucknow Super Giants
[<td>₹0</td>, <td>7</td>, <td>21</td>]
['₹0', '7', '21']
4
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹2,95,00,000                 8            25
1         Delhi Capitals      ₹10,00,000                 7            24
2         Gujarat Titans      ₹15,00,000                 8            23
3  Kolkata Knight Riders      ₹45,00,000                 8            25
4   Lucknow Super Giants              ₹0                 7            21
Mumbai Indians
[<td>₹10,00,000</td>, <td>8</td>, <td>25</td>]
['₹10,00,000', '8', '25']
5
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹2,95,00,000                 8            25
1         Delhi Capitals      ₹10,00,000                 7            24
2         Gujarat Titans      ₹15,00,000                 8            23
3  Kolkata Knight Riders      ₹45,00,000                 8            25
4   Lucknow Super Giants              ₹0                 7            21
5         Mumbai Indians      ₹10,00,000                 8            25
Punjab Kings
[<td>₹3,45,00,000</td>, <td>7</td>, <td>25</td>]
['₹3,45,00,000', '7', '25']
6
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹2,95,00,000                 8            25
1         Delhi Capitals      ₹10,00,000                 7            24
2         Gujarat Titans      ₹15,00,000                 8            23
3  Kolkata Knight Riders      ₹45,00,000                 8            25
4   Lucknow Super Giants              ₹0                 7            21
5         Mumbai Indians      ₹10,00,000                 8            25
6           Punjab Kings    ₹3,45,00,000                 7            25
Rajasthan Royals
[<td>₹95,00,000</td>, <td>8</td>, <td>24</td>]
['₹95,00,000', '8', '24']
7
                    TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0    Chennai Super Kings    ₹2,95,00,000                 8            25
1         Delhi Capitals      ₹10,00,000                 7            24
2         Gujarat Titans      ₹15,00,000                 8            23
3  Kolkata Knight Riders      ₹45,00,000                 8            25
4   Lucknow Super Giants              ₹0                 7            21
5         Mumbai Indians      ₹10,00,000                 8            25
6           Punjab Kings    ₹3,45,00,000                 7            25
7       Rajasthan Royals      ₹95,00,000                 8            24
Royal Challengers Bangalore
[<td>₹1,55,00,000</td>, <td>8</td>, <td>22</td>]
['₹1,55,00,000', '8', '22']
8
                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
Sunrisers Hyderabad
[<td>₹10,00,000</td>, <td>8</td>, <td>23</td>]
['₹10,00,000', '8', '23']
9
                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23
                          TEAM FUNDS REMAINING OVERSEAS PLAYERS  TOTAL PLAYERS
0          Chennai Super Kings    ₹2,95,00,000                 8            25
1               Delhi Capitals      ₹10,00,000                 7            24
2               Gujarat Titans      ₹15,00,000                 8            23
3        Kolkata Knight Riders      ₹45,00,000                 8            25
4         Lucknow Super Giants              ₹0                 7            21
5               Mumbai Indians      ₹10,00,000                 8            25
6                 Punjab Kings    ₹3,45,00,000                 7            25
7             Rajasthan Royals      ₹95,00,000                 8            24
8  Royal Challengers Bangalore    ₹1,55,00,000                 8            22
9          Sunrisers Hyderabad      ₹10,00,000                 8            23

In [9]:
df.to_csv("ipl_auction_stats.csv")